<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="diagram1.css" />
    <title>Number of products in each category</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
          <div class="col1">
            <h1 class="diagram1">Number of items in each category</h1>
    <svg id="svg1" width="600" height="300"></svg>
          </div>
          <div class="col2">
            <h1 class="diagram1">Sales per day</h1>
    <svg id="svg2" width="600" height="300"></svg>
          </div>
        </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="diagram1.js"></script>
    <script src="diagram2.js"></script>
  </body>
</html>
