body {
  background-color: #afdff0;
  display: grid;
  place-items: end;
}

.connect-div {
  position: relative;
  margin: 125px auto;
  width: 500px;
  height: 380px;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
}

.links {
  position: relative;
  color: #00415d;
  margin: 5px 5px 10px 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid #eee;
  text-align: center;
  height: 28px;
}

.links a {
  margin: 0 25px;
  padding: 0 20px;
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.links .active {
  color: #029f5b;
  font-size: 18px;
}

.login,
.signup {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 30px;
  text-align: center;
}

.inside-form {
  align-items: center;
}

.data-inputs {
  width: 100%;
  margin-bottom: 10px;
}

.data-inputs input[type="text"],
.data-inputs input[type="email"],
.data-inputs input[type="password"] {
  width: calc(50% - 22px);
  height: 45px;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
  color: #333;
  font-size: 0.8rem;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.data-inputs input:focus {
  border-color: #358efb;
}

.data-inputs button {
  width: 50%;
  background-color: #1cb94e;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  padding: 14px 0;
  border-radius: 2px;
  text-transform: uppercase;
}
