<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" type="text/css" href="style_navbar.css" /> -->
    <link rel="stylesheet" type="text/css" href="style_footer.css" />
    <link rel="stylesheet" type="text/css" href="style_page.css" />

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- bootstrap -->

    <title>Document</title>
  </head>

  <body>
    <%- include ("../navbar/navbar.ejs");%>
    <div id="con">
      <div id="map" class="slash-pattern"></div>
    </div>

    <aside id="description">
      <h1>We Are Shlusy's!</h1>
      <p>
        We are a small group of dropshippers that <br />
        soon started expanding quickly <br />
        because of our <strong>great </strong> quality!
      </p>
      <img
        src="https://sustainabilityforschools.org/images/22ca5e3187c2240df4c8f3559fb86616.jpg?crc=514338456"
        alt=""
      />
    </aside>

    <!-- footer -->
    <footer class="footer slash-pattern">
      <ul class="social-icons">
        <li>
          <a class="" href="#">
            <img
              class="social-icon-item"
              src="https://cdn-icons-png.flaticon.com/512/725/725339.png"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              class="social-icon-item"
              src="https://cdn-icons-png.flaticon.com/512/725/725350.png"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              class="social-icon-item"
              src="https://cdn-icons-png.flaticon.com/512/2335/2335417.png"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              class="social-icon-item"
              src="https://cdn-icons-png.flaticon.com/512/1322/1322104.png"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              class="social-icon-item"
              src="https://cdn-icons-png.flaticon.com/512/1383/1383329.png"
              alt=""
            />
          </a>
        </li>
      </ul>

      <ul class="footer-menu">
        <li class="menu-link"><a href="#">Home</a></li>
        <li class="seperator">|</li>
        <li class="menu-link"><a href="#">About</a></li>
        <li class="seperator">|</li>
        <li class="menu-link"><a href="#">Services</a></li>
        <li class="seperator">|</li>
        <li class="menu-link"><a href="#">Team</a></li>
        <li class="seperator">|</li>
        <li class="menu-link"><a href="#">Contact</a></li>
      </ul>
    </footer>
    <!-- footer -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
      // Initialize and add the map
      let city_arr = [];
      let latitude_arr = [];
      let longitude_arr = [];

      // $.ajax({
      // url: "",
      // method: "get",

      // }).done((data) => {
      //     data.forEach(element => {
      //         city_arr.push(element["city"]);
      //         latitude_arr.push(element["latitude"]);
      //         longitude_arr.push(element["longitude"]);
      //     });

      // });

      function getData() {
        return $.ajax({
          url: "http://localhost:3000/location/getlocations",
          method: "get",
          async: false,
        });
      }

      async function test() {
        try {
          const res = await getData();
          // console.log(Array.from(res));
          Array.from(res).forEach((element) => {
            city_arr.push(element["city"]);
            latitude_arr.push(element["latitude"]);
            longitude_arr.push(element["longitude"]);
          });
        } catch (err) {
          console.log(err);
        }
      }

      test();

      function initMap() {
        for (let i = 0; i < 10; i++) {
          console.log(city_arr[i]);
        }
        const Rishon = { lat: 31.96102, lng: 34.80162 };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 10,
          center: Rishon,
        });
        for (let i = 0; i < latitude_arr.length; i++) {
          console.log(latitude_arr[i] + "," + longitude_arr[i]);
          const pin_position = { lat: latitude_arr[i], lng: longitude_arr[i] };
          const marker = new google.maps.Marker({
            position: pin_position,
            map: map,
          });
        }
      }

      window.initMap = initMap;
    </script>

    <!-- bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap -->

    <!-- google maps -->
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvOKsBup9vJLhp_OPYWc6e4RXRAAPaIu8&callback=initMap"
    ></script>
    <!-- google maps -->
  </body>
</html>
