@import url('https://fonts.googleapis.com/css?family=Merriweather Sans&display=swap');

.footer {
 
  position: flex;
  background: #afdff0;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 101%;
}
.slash-pattern {
  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
  background-size: 8px 8px;
}

.social-icon-item {
  width: 20%;
  height: 20%;

  font-size: 2rem;
  margin: 0 39%;
  transition: 0.5s;
}
.social-icon-item:hover,.menu-link:hover {
  transform: translateY(-10px);
  -webkit-filter: invert(50%);
  
}

.social-icons{
  position: relative;
  display: flex;
  list-style: none;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.footer-menu {
  display: flex;
  list-style: none;
  list-style-type: none;
  justify-content: space-evenly;
  
}

.menu-link  {
  font-size: 100%;
  font-family: "Merriweather Sans";
  margin: 20px;
  color: rgb(63, 63, 63);
  transition: all 0.3s ease;
  
}


.footer-menu li a {
  text-decoration: none;
  color: inherit;
  
}
.seperator{
  font-weight: 1000;
  font-family: 'Merriweather Sans';
  margin:20px;
  color: #676767;
  cursor:default;
}


@media screen and (max-width: 1100px) {
    .social-icons{
        display: none;
    }
  }