<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="Login-Signin.css" rel="stylesheet" />
  </head>
  <body>
    <!-- login & signup -->
    <div class="connect-div">
      <div class="links">
        <a href="#" class="active" id="login-form-link">Login</a>
        <a href="#" id="signup-form-link">Sign Up</a>
      </div>

      <form class="login">
        <div class="inside-form">
        <div class="data-inputs">
          <input type="email" placeholder="Email" />
        </div>
        <div class="data-inputs">
          <input type="password" placeholder="Password" />
        </div>
        <div class="data-inputs">
          <button>Log in</button>
        </div>
      </div>
      </form>

      <form class="signup">
        <div class="data-inputs">
          <input type="text" placeholder="User Name" />
        </div>
        <div class="data-inputs">
          <input type="email" placeholder="Email" />
        </div>
        <div class="data-inputs">
          <input type="password" placeholder="Password" />
        </div>
        <div class="data-inputs">
          <button>Sign Up</button>
        </div>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="Login-Signin.js"></script>
</html>
