@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Maven+Pro&family=Nunito:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Inter:wght@300;400&family=Maven+Pro&family=Nunito:ital,wght@0,400;1,300&display=swap');
.filter {
    position:sticky;
    float: right;
    flex-wrap: nowrap;
    top: 0;
    min-width: 300px;
    margin-right: 7px;
    padding: 20px 0 20px 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    height: 600px;
}
html, body { height: 100%; width: 100%; margin: 0; }
.container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    gap: 5px;
    max-width: 100%;
}

.filter-and-grid
{
    display: flex;
    position: relative;
    top: 40px;
}

.product {
    
    margin-bottom: 30px;
    
    
    
    width: 33%;
    border-radius: 5px;
    
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}


.product img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 2px;
    object-fit: cover;
    
}
@media only screen and (max-width: 1400px)
{
    .product
    {
        width: 48%;
    }
    
    
}



.filter h2 {
    font-size: 16px;
    margin-top: 0;
}

.filter ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter li {
    margin-bottom: 10px;
}

.filter label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.filter input[type="checkbox"] {
    margin-right: 5px;
}
.add-to-cart-btn
{
    opacity: 0;
    border-radius:100px;
    border:none;
    font-size:0.9em;
    background:#0652DD;
    cursor:pointer;
    height:2em;
    width:7em;
    transition:transform 0.2s ease-in-out;
    transition: opacity 0.15s;
    
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 10px;
    left:50%;
    transform: translateX(-50%);
}

.add-to-cart-btn:hover
{
    color: #777;
    
}

.product:hover
{
    cursor: pointer;
}
.product:hover .add-to-cart-btn
{
    opacity: 1;
    
    
}

.price-p
{
    margin-top: 5px;
    margin-left: 5px;
    display:inline;
    position: absolute;
    bottom: 0;
    font-size: 1.4vw;
    margin-bottom: 3px;
    color: #443d3d;
    font-family: 'Nunito', sans-serif;
    left: 8px;
}
.product p:not(.price-p)
{
    font-size: 1.45vw;
    font-family: 'Nunito', sans-serif;
    margin-top: 5px;
    position: absolute;
    top: 40%;
    color: #1d27b1;
    margin-left: 7px;
}
.product h3
{
    position: relative;
    font-family: 'Nunito', sans-serif;
    font-size: 2vw;
    margin: 0;
    color: #0652DD;
    top:0;
    margin-left: 7px;
    
}
@media only screen and (max-width: 1400px)
{
    .price-p
    {
        font-size: 1.2rem;
    }
    .product p:not(.price-p)
    {
        font-size: 1.3rem;
    }
    .product h3
    {
        font-size: 1.7rem;
    }
    
}
.price-container
{
    flex-wrap: nowrap;
    
}
.search-bar-container
{
    position:absolute;
    width: 50%;
    
    margin-top: 20px;
    height: 40px;
    left:600px;
    display:flex
    
    
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    height: 45px;
    font-size: 15px;
    width: 100px;
    padding-top: 10px;
}
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active, .add-to-cart-btn:active {
    
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.cart-container
{
    position: relative;
    
    
    
    
    display: flex;
    flex-direction: column;
    z-index: 2;

}
svg:hover
{
    cursor: pointer;
    
}
.cart-container:hover .cart-content
{
    display: block;
}
.cart-content
{
    position: absolute;
    right:-55px;
    top: 20px;
    display: none;
}
.product-description
{
    background-color: wheat;
    opacity: 0.7;
    position: absolute;
    height: auto;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
}
.product:hover .product-description
{
    
    transform: translateY(0);
}


.checkout-btn {
    background-color: #222;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-height: 44px;
    min-width: 10px;
    padding: 9px 20px 8px;
    text-align: center;
    user-select: none;
}
.checkout-btn:active
{
    transform: translateY(1px);
}
.top-nav-bar
{
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
    position: relative;
    z-index: 2;

}
.submit-btn {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    
}

.submit-btn:hover,
.submit-btn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.submit-btn:hover {
    transform: translateY(-1px);
}

.submit-btn:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

.type-selector
{
    position: relative;
    width: 5.3%;
    min-width: 85px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-flex;
    cursor: pointer;
    min-height: 70px;
}

.type-selector:hover .image-layer
{
    opacity: 0.4;
}
.image-layer
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    left: 0;
    transition: opacity 0.2s;
    background-color: rgb(66, 63, 63);
}
.type-filter-containter
{
    display: inline-block;
    width: 55%;
    min-width: 795px;
}
.bag-item
{
    font-size: 14px;
    cursor: pointer;
}
.bag-item:hover
{
    text-decoration: line-through;
}
aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
}