@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.logo-box {
  width: 190px;
  height: 46px;
  background: #0f8db5;
  float: left;
  line-height: 46px;
  font-size: 27px;
  text-align: center;
  color: #fff;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  line-height: 1;
  display: block;
  position: relative;
}

#cssmenu:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#cssmenu {
  font-family: Montserrat, sans-serif;
  background: #1199c4;
}

#cssmenu > ul > li {
  float: left;
}

#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 700;
  text-transform: uppercase;
}

#cssmenu > ul > li:hover > a {
  color: #ffffff;
}

/* change account details */
h1 {
  font-size: 60px;
  margin-top: 20px;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #cd9cf2;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to top left,
    rgba(205, 156, 242, 1),
    rgba(246, 243, 255, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to top left,
    rgba(205, 156, 242, 1),
    rgba(246, 243, 255, 1)
  );
}
