<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section id="bottom-part">
      <footer class="footer slash-pattern">
        <ul class="social-icons">
          <li>
            <a class="" href="#">
              <img
                class="social-icon-item"
                src="https://cdn-icons-png.flaticon.com/512/725/725339.png"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                class="social-icon-item"
                src="https://cdn-icons-png.flaticon.com/512/725/725350.png"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                class="social-icon-item"
                src="https://cdn-icons-png.flaticon.com/512/2335/2335417.png"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                class="social-icon-item"
                src="https://cdn-icons-png.flaticon.com/512/1322/1322104.png"
                alt=""
              />
            </a>
          </li>
          <li>
            <a href="#">
              <img
                class="social-icon-item"
                src="https://cdn-icons-png.flaticon.com/512/1383/1383329.png"
                alt=""
              />
            </a>
          </li>
        </ul>

        <ul class="footer-menu">
          <li class="menu-link"><a href="#">Home</a></li>
          <li class="seperator">|</li>
          <li class="menu-link"><a href="/about-us">About</a></li>
          <li class="seperator">|</li>
          <li class="menu-link"><a href="#">Services</a></li>
          <li class="seperator">|</li>
          <li class="menu-link"><a href="#">Team</a></li>
          <li class="seperator">|</li>
          <li class="menu-link"><a href="#">Contact</a></li>
        </ul>
      </footer>
    </section>
  </body>
</html>
